/preprocess_data/Pendolarismo per sezione di censimento/
/data/
/notebooks/TEST_Italy.ipynb
/notebooks/TEST_OD_tree.ipynb
/notebooks/TEST_synthetic_data_random_branch.ipynb
/notebooks/TEST_tree.ipynb
/notebooks/synthetic_data_random_branch.ipynb
/data_structure/old/
/mechanism/old/
/optimization/old/
/old_notebooks/
/preprocess_data/old/

/results/test/
